.catProducts-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
}

/* .catProducts-container {
  display: flex;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  margin: 1em;
  margin-top: 20px;
  align-items: center; */
/* overflow-x: hidden; */
/* border: 1px solid green; */
/* } */

.listgrp-prod-container {
  /* margin-top: -40px;
  margin-left: -20px; */
  border: 0.5em solid green;
  display: flex;
  flex-direction: row;
}

.search-container {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 0.01em solid#2699b6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.styled-p4 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: Brandon Text;

  margin-top: 25px;

  margin-left: 10px;
  margin-bottom: 15px;
}

@media screen and (min-width: 767px) {
  .styled-p4 {
    margin-left: -29em;
  }

  /* .listgrp-prod-container {
    display: flex;
    flex-direction: row;
  } */
}

/* .productlist-container {
    align-items: center;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 250px;
    height: 300px;
    grid-gap: 40px;
    line-height: 30px;
    font-size: 6px;
    font-weight: 400;
    font-family: Brandon Text;
    margin-top: 25px;
    max-width: 80%;
    margin-left: 20em;
    margin-right: 1em;
  }

  .products-pagin2 {
    margin-left: 90px;
    margin-top: 35px;
  } */

/* .listGroup2-container {
    margin-right: 35px;
  } */

/* .image {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
  }

  #container-m {
    margin-left: 3em;
    margin-top: -1em;
  }

  #container-m-link {
    color: black;
    text-decoration: none;
  }

  .productlist-container p {
    text-align: center;
    padding-top: 0px;

    font-size: 16px;
    margin-right: 10px;
  }
  .overlay {
    width: 100px;
    margin-left: 20px;
    margin-right: -20px;
  } */
