.list-group-flush .list-group-item.active {
  color: #fff;
  background-color: #2bbbad;
  border-color: #2bbbad;
  background: #2bbbad;
  z-index: 2;
  border-radius: 3px;
  transition: ease 0.5s;
  padding-top: 0px;
  padding-bottom: 0px;
  /* padding: 2px 45px; */
}

.list-group-item {
  white-space: nowrap;
  /* margin-left: -2em; */
  /* margin-right: 1.5em; */
  text-align: center;
  /* font-size: 10px; */
  align-self: center;
  font-size: 8px;
  font-weight: 400;
  font-family: Brandon Text;
  padding-top: 1em;
  padding-bottom: 1em;
  /* padding: 2px 45px; */
  /* width: 80px; */
}

@media screen and (min-width: 450px) {
  .list-group-item {
    font-size: 14px;
    /* margin-left: -1.6em;
    margin-right: -1em; */
    /* width: 90px; */
    width: 100%;
  }
}

/* @media screen and (min-width: 1024px) {
  .list-group-item {
    font-size: 14px;
    margin-left: -1em;
    margin-right: -1em;
    width: 120px;
  }
} */
