input {
  display: none;
}
label {
  font-family: Brandon Text;
  font-weight: 500;
  position: relative;
  display: block;
  padding: 6px 40px;
  margin: 0 0 1px 20px;
  cursor: pointer;
  background: #2699b6;
  border-radius: 3px;
  color: #fff;
  transition: ease 0.5s;
  font-size: 10px;
  white-space: nowrap;
}

label::after {
  content: '+';
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}
label:hover {
  background: #2bbbad;
}

input:checked + label::after {
  content: '-';
  right: 9px;
  top: 5px;
}

.content {
  background: white;
  padding: 10px 10px;
  border: 0px;
  margin: 0 0 1px 0;
  border-radius: 3px;
  margin-left: -30px;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}
