body {
  font-size: 8px;
  font-weight: 400;
  font-family: Brandon Text;
}

p {
  text-align: center;
}

input {
  display: none;
}
label {
  position: relative;
  display: block;
  padding: 8px 45px;
  margin: 0 0 1px 0;
  cursor: pointer;
  background: #2bbbad;
  border-radius: 3px;
  color: #fff;
  transition: ease 0.5s;
  font-size: 10px;
}

label::after {
  content: '+';
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 7px;
}
label:hover {
  background: #2bbbad;
}

input:checked + label::after {
  content: '-';
  right: 20px;
  top: 7px;
}

.content {
  background: white;
  padding: 10px 25px;
  border: 0px;
  margin: 0 0 1px 0;
  border-radius: 3px;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}
