.p-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
  height: 550px;
  max-height: 100%;
  z-index: 1010;
  background: rgb(0, 0, 0);
  background: rgba(241, 241, 241, 0.9);
  color: black;
  font-size: 12px;
}

.product-image {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.featured-image {
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  margin-left: 20px;
}

.details {
  display: inline-block;
  margin-top: 30px;
  margin-left: 35px;
  white-space: nowrap;
  line-height: 20px;
}

.detail {
  font-size: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0px;
  outline: none;
  vertical-align: top;
  margin-left: -10px;
}

.name1 {
  margin-left: -10px;
}

#modal-link {
  color: navy;
  /* text-decoration: none; */
  margin-left: -10px;
}

#color-container {
  margin-left: -26px;
}

@media screen and (min-width: 450px) {
  .p-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    height: 700px;
    max-height: 100%;
    z-index: 1010;
    background: rgb(0, 0, 0);
    background: rgba(241, 241, 241, 0.9);
    color: black;
  }
  .featured-image {
    margin-right: 150px;
    max-width: 450px;
    max-height: 450px;
  }

  .details {
    display: inline-block;
    margin-top: 30px;
    margin-left: 35px;
    white-space: nowrap;
    line-height: 20px;
  }
  .name1 {
    font-size: 25px;
  }
  .detail {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #modal-link {
    font-size: 16px;
  }
}
