.nav {
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  font-family: Brandon Text;
  margin-right: 50px;
  margin-left: -30px;
}

li {
  margin-right: 5px;
  text-align: center;
}

img {
  max-height: 175px;
  max-width: 150px;
  display: block;
}
