/* .pagination .page-item.active .page-link {
  background-color: #2bbbad;
} */

.pagination .page-item.active .page-link {
  color: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.2s linear;
  background-color: #2bbbad;
  margin-left: -5px;
}

.pagination .page-item .page-link {
  font-size: 0.5rem;
  border: 0;
  outline: 0;
  margin-left: -10px;
  margin-right: 2px;
}

.page-item.active .page-link {
  z-index: 3;
}

.pagination {
  margin-left: 70px;
  margin-right: 10px;
}

@media screen and (min-width: 450px) {
  .pagination {
    align-items: center;
    margin-top: 20px;
  }

  .pagination .page-item .page-link {
    font-size: 1rem;
    margin-right: 4px;
    margin-left: -8px;
  }
}

/* #page-pagination {
  text-align: center;
  margin-left: -15px;
} */
