html,
* {
  box-sizing: border-box;
}

.list-inline {
  line-height: 400%;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  font-family: Brandon Text;
  margin-right: 50px;
  margin-left: -40px;
}

li {
  margin-right: 5px;
  text-align: center;
}

.p1 {
  text-align: center;
  padding-top: 0px;
}

.image-container {
  position: relative;
  width: 90%;
  max-width: 175px;
  max-height: 175px;
}

/* Make the image to responsive */
.image {
  display: block;
  height: auto;
  width: 100%;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 8px;
  text-align: center;
  width: 100px;
  margin-left: 33px;
}

/* When you mouse over the container, fade in the overlay title */
.image-container:hover .overlay {
  opacity: 1;
}
