.productDisplay-grid {
  font-weight: 400;
  font-family: Brandon Text;
  text-align: center;
  justify-items: center;
  grid-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 300px));
  grid-gap: 30px;
  /* row-gap: 50px; */
  width: 100%;

  border: 1px solid red;
}

.productDisplay-item {
  /* display: flex;
  flex-direction: column; */
  max-width: 100%;
  border: 1px solid red;
}

.image-container {
  /* display: flex; */
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  border: 1px solid green;
}

/* Make the image to responsive */
.image {
  display: inline-flex;
  max-width: 100%;
  width: 100%;
  max-height: 300px;
  object-fit: contain;

  /* margin-left: -35px; */
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  width: 60%;
  left: 20%;
  z-index: 10;
}

/* When you mouse over the container, fade in the overlay title */
.image-container:hover .overlay {
  opacity: 1;
}

#container-m-link {
  color: black;
  text-decoration: none;
}

.p-3 {
  white-space: nowrap;
  margin-top: -20px;
  margin-bottom: -15px;
  font-size: 14px;
}

.p-result {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-family: Brandon Text;
  padding-top: 2em;
  white-space: nowrap;
}
