.productDisplay-grid {
  font-weight: 400;
  font-family: Brandon Text;
  text-align: center;
  /* font-size: 16px; */
  /* align-items: center; */
  justify-items: end;
  /* margin-left: 170px; */
  display: grid;
  grid-gap: 20px;
  /* width: 70%; */
}

.productDisplay-item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-right: 70px;

  max-width: 45%;
  border: 1px solid red;
}

.image-container {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;

  border: 1px solid green;
}

/* Make the image to responsive */
.image {
  display: block;
  max-width: 100%;
  width: 100%;
  max-height: 300px;
  object-fit: contain;

  /* margin-left: -35px; */
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 50%;
}

/* When you mouse over the container, fade in the overlay title */
.image-container:hover .overlay {
  opacity: 1;
}

#container-m-link {
  color: black;
  text-decoration: none;
}

.p-3 {
  white-space: nowrap;
  margin-top: -20px;
  margin-bottom: -15px;
  font-size: 10px;
}

.p-result {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: Brandon Text;
  margin-top: 3px;
  margin-left: 100px;
}

@media screen and (min-width: 767px) {
  .productDisplay-grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    /* flex: 1; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 350px));
    grid-gap: 2px;
    row-gap: 50px;
    justify-content: start;
    margin-top: 32px;
    margin-right: -150px;
    margin-left: 280px;

    border: 1px solid red;

    /* Supports Grid */
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 340px));
    grid-gap: 10px;
    column-gap: 1px; */
  }

  #container-m-link {
    color: black;
    text-decoration: none;
  }
  .overlay {
    width: 100px;
    margin-left: 42px;
    margin-right: -35px;
    padding: 5px;
  }
  .p-3 {
    font-size: 14px;
  }

  .productDisplay-item {
    /* margin-left: 10px; */
    /* Demo-Specific Styles */
    /* display: flex;
    flex-direction: column; */
    /* width: 80%; */
    max-width: 100%;
    /* Flex Fallback */
    /* flex: 1 1 125px; */
    /* border: 1px solid red; */
  }

  /* .image {
    width: 100%;
    max-width: 100%;
  } */

  /* .image-container {
    width: 100%;
    max-width: 100%;
  } */
}
