/* #productDetails-cont {
  font-family: Brandon Text;
  display: flex;
  flex-direction: column;
  
} */
/* .container-image {
  display: flex;
  flex-direction: column;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  
} */

/* .prod-image {
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  margin-right: 150px;
} */

/* .details-cont {
  position: flex;
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px;
  white-space: nowrap;
  line-height: 30px;
} */

/* .product-detail {
  font-weight: bold;
  display: inline-block;
  *display: inline;
  margin-bottom: 10px;
  outline: none;
  vertical-align: top;
} */

/* .name {
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: 2px;
  margin-left: 0px;
} */

/* #container-b {
  margin-top: 20px;
  margin-left: -15px;
} */

/* .container-c {
  font-size: 11px;
  margin-top: 30px;
} */

/* #page1-item {
  margin-top: 5px;
  height: 20px;
  width: 20px;
  margin-left: 0px;
} */

/* .description-a {
  margin-top: -40px;
  font-size: 14px;
} */

/* @media screen and (min-width: 450px) {
  .product-detail {
    font-size: 16px;
  }

  .prod-image {
    max-width: 450px;
    max-height: 450px;
  }
} */
