/* #search {
  display: initial;
  width: 200px;
  height: 20px;
  align-self: flex-end;

  margin-right: 12px;
  font-family: Brandon Text;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid rgb(216, 213, 213);
} */

input:focus {
  outline: none;
  background: white;
}
