.products-container {
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
  /* grid-gap: 10px; */
  /* overflow-x: hidden; */
  margin: 1em;
  height: auto;
}

.listgrp-nav-container {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}

.productlist-container {
  /* justify-content: end; */
  /* display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 200px;
  grid-gap: 20px; */

  /* line-height: 20px; */
  /* font-size: 6px;
  font-weight: 400;
  font-family: Brandon Text;
  margin-right: 5px; */

  /* display: flex;
  flex-direction: column; */
  /* padding: 0px;
  height: auto;
  border: 1px solid red; */
}

.pagination-container {
  border: 1px solid black;
  margin-left: -120px;
  /* display: flex;
  flex-direction: row; */
}

.paragraph-container {
  border: 1px solid black;
  margin-bottom: 2px;
}

.styled-p {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-family: Brandon Text;
  /* margin-top: 35px; */
  margin-top: 15px;
  margin-left: 12em;
}

#p2 {
  margin-bottom: '50px';
}

/* .productlist-container {
  justify-content: end;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 200px;
  height: 300px;
  grid-gap: 20px;
  line-height: 400%;
  font-size: 6px;
  font-weight: 400;
  font-family: Brandon Text;
  margin-right: 40px;
} */

@media (min-width: 450px) {
  .productlist-container {
    grid-template-columns: (3, 1fr);
  }
  .styled-p {
    margin-top: 100px;
    margin-left: 17em;
  }
}
