.products-container {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;

  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  overflow-x: hidden;
  margin: 1em;
}

.styled-p {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-family: Brandon Text;
  margin-top: 35px;
  /* margin-bottom: 10px; */
  margin-left: 8em;
}

.listgrp-nav-container {
  display: flex;
  flex-direction: row;
}
.productlist-container {
  justify-content: end;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 100px 100px;
  grid-template-rows: 200px;
  height: 300px;
  grid-gap: 20px;
  line-height: 400%;
  font-size: 6px;
  font-weight: 400;
  font-family: Brandon Text;
  margin-right: 40px;
}

/* .page-pag-cont {
  display: grid;
  grid-template-rows: repeat(1, 400px);
  position: absolute;
} */

@media (min-width: 450px) {
  .styled-p {
    margin-top: 75px;
  }

  /* .listgrp-nav-container {
    display: flex;
    flex-direction: row;
  } */
}

/* .listgrp-nav-container { */
/* grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: rows; */
/* display: flex;
  flex-direction: row; */

/* display: grid;
  grid-template-columns: repeat(2, 1fr); */
/* } */

/* .styled-p {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-family: Brandon Text;
  margin-top: 70px;
  margin-right: 100px;
} */

/* .products-container {
  overflow-x: hidden;
  margin: 1em;
} */

/* .products-container .row {
  margin-left: 1em;
} */

/* @media (min-width: 700px) {
  
} */
